@model List<EscolaDeVoce.Services.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Embaixadoras";
    var UserId = ViewBag.UserId;
}

@await Component.InvokeAsync("Header")

@section scripts{
    <script>
         $(document).ready(function(){
             $(".panel-left").resizable({
                handleSelector: ".splitter",
                resizeHeight: false
            });

            $(".panel-left .mensagem").eq(0).trigger("click");
            escoladevoce.mensagem.initMessagePlugin();
         });
         
         tinymce.init({
            selector: '#newChatMessage',
            menubar: false,
            plugins: [
                'emoticons',
                "placeholder"
            ],
            toolbar: [
                'bold italic underline emoticons'
            ],
            mentions_fetch: function (query, success) {
                // Fake a server call by using a setTimeout
                alert("searching");
                setTimeout(function() {
                console.log('Search query:', query.term);

                success([
                    {id: 'johndoe', name: 'johndoe', fullName: 'John Doe'},
                    {id: 'janedoe', name: 'janedoe', fullName: 'Jane Doe'}
                ]);
                }, 0);
            }
        });
    </script>
}

<section id="mensagens">
    
    <div class="panel-container">

        <div class="panel-left">

            @foreach(var user in Model){
                var profilePhoto = "/images/no-image.png";
                if(!string.IsNullOrEmpty(user.image)) {
                    profilePhoto = "/images/" + user.image;
                }
                <div class="mensagem" data-user-id="@user.Id" data-user-name="@user.person.name">

                    <div class="mensagem-left-content">
                        <object data="@profilePhoto" width="58px" height="58px" type="image/png">
                            <img width="58px" height="58px"src="/images/no-image.png" />
                        </object>
                    </div>
                    <div class="mensagem-right-container">
                        <p>
                            @user.person.name<br>
                            São Paulo/SP
                        </p>
                    </div>

                </div>
            }
            

        </div>

        <div class="splitter">
        </div>

        <div class="panel-right">
            <div class="messages-panel">
                <div class="message-person">
                    
                </div>

                <div class="messages">

                    

                </div>

                <div class="new-message-form">
                    <form>
                        <textarea name="newChatMessage" id="newChatMessage" placeholder="Digite aqui sua mensagem..."></textarea>
                        <p class="text-right">
                            <button class="escola-btn escola-btn-primary" type="button" onclick="escoladevoce.mensagem.sendMessage();">Enviar</button>
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>