@model List<EscolaDeVoce.Services.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Embaixadoras";
    var UserId = ViewBag.UserId;
    var userlist = new List<EscolaDeVoce.Services.ViewModel.UserViewModel>();
    if(Model != null){
        Guid ID = Guid.Parse(UserId);
        userlist = Model.Where(u=>u.Id != ID).ToList();
    }
}

@await Component.InvokeAsync("Header")

@section scripts{
    <script>
         $(document).ready(function(){
             $(".panel-left").resizable({
                handleSelector: ".splitter",
                resizeHeight: false
            });

            $(".panel-left .mensagem").eq(0).trigger("click");
            escoladevoce.mensagem.initMessagePlugin();
         });
         
         tinymce.init({
            selector: '#newChatMessage',
            menubar: false,
            plugins: [
                'emoticons',
                "placeholder"
            ],
            toolbar: [
                'bold italic underline emoticons'
            ],
            mentions_fetch: function (query, success) {
                // Fake a server call by using a setTimeout
                alert("searching");
                setTimeout(function() {
                console.log('Search query:', query.term);

                success([
                    {id: 'johndoe', name: 'johndoe', fullName: 'John Doe'},
                    {id: 'janedoe', name: 'janedoe', fullName: 'Jane Doe'}
                ]);
                }, 0);
            }
        });
    </script>
}

<section id="mensagens">
    
    <div class="panel-container">
        
        <div class="panel-left">
            <div class="message-search">
                <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="
                        height: 42px;
                        border-color: #484848;
                        background: white;
                        border-right: 0;
                        background: transparent;
                    "><span class="glyphicon glyphicon-search" aria-hidden="true" style="
                        /* height: 27px; */
                    "></span></button>
                                    </span>
                                    <input onkeyup="escoladevoce.mensagem.getUsers(this.value)" type="text" class="form-control" placeholder="Digite o nome da pessoa com quem quer conversar..." style="
                        height: 42px;
                        border-color: #484848;
                        border-left: none;
                        background: transparent;
                    ">
                </div><!-- /input-group -->
            </div>
            <div class="message-users">
            
            </div>
            
            

        </div>

        <div class="splitter">
        </div>

        <div class="panel-right">
            <div class="messages-panel">
                <div class="message-person">
                    
                </div>

                <div class="messages">

                </div>

                <div class="new-message-form">
                    <form>
                        <textarea name="newChatMessage" id="newChatMessage" placeholder="Digite aqui sua mensagem..."></textarea>
                        <p class="text-right">
                            <button class="escola-btn escola-btn-primary" type="button" onclick="escoladevoce.mensagem.sendMessage();">Enviar</button>
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>