<section id="section-partners">
    <div class="container">
        <h2 class="sub-title">Parceiros</h2>

        <div class="partners-list">
            <div>
                <img src="~/images/logo-brilhante.gif" style="width: 100px;" />
            </div>
            <div>
                <img src="~/images/site/logo.png" />
            </div>
            <div>
                <img src="~/images/site/parceiro3.png" />
            </div>
            <div>
                <img src="~/images/alinaca-logo.png" style="width: 130px;" />
            </div>
        </div>
    </div>
</section>