@model EscolaDeVoce.Frontend.User

@{
    string fullname = Model.name + " " + Model.lastname;
    string[] names = fullname.Split(' ');
    string name = names[0];
    string lastname = names[names.Count() - 1];

    ViewBag.name = name;
    ViewBag.fullname = fullname;

    string partner = (string)this.ViewContext.RouteData.Values["partner"];
}

<!-- Modal -->
<div class="modal fade form-modal step1" id="bemvindaModal" tabindex="-1" role="dialog" aria-labelledby="loginForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body text-center">
        
        <h1 class="title">@name</h1>
        <h2 class="sub-title">Bem-vinda ao seu melhor!</h2
        <br />

        <p>
          Sinta-se em casa, esse espaço é todo seu. Abra sua mente e coração para uma jornada transformadora de desenvolvimento pessoal e empoderamento.
Comece completando seu perfil para deixar esse espaço ainda mais com a sua carinha.
        </p>
          
          <div class="bs-example" data-example-id="form-validation-states-with-icons"> 
            <p class="text-center" style="margin-top: 30px;margin-bottom:35px">
                <a href="/home/home" style="margin-right: 28px;" class="escola-btn escola-btn-primary">começar logo</a>
                <a data-dismiss="modal" aria-label="Close" class="escola-btn escola-btn-primary">mais sobre mim</a>
            </p>
            
          </div>
      </div>

      <!--<div class="modal-footer">
        
        <div>
          <div>Ou entre com: </div>
          <div><img src="~/images/site/signup-facebook.png" /></div>
          <div><img src="~/images/site/signup-twitter.png" /></div>
        </div>

      </div>-->

    </div>
  </div>
</div>