@{
    ViewData["Title"] = "Cursos";
    string partner = (string)this.ViewContext.RouteData.Values["partner"];
}

@await Component.InvokeAsync("Header")

<br>
<br>

@if(!string.IsNullOrEmpty(partner)){
    <div id="tv-edv-content">
        @await Component.InvokeAsync("Video", new { categoryid = Guid.Parse("185fd6f6-eee6-481d-b5b5-97cca4a59f82") })
    </div>
}