@{ 
    ViewData["Title"] = "Home Page"; 
    string partner = (string)this.ViewContext.RouteData.Values["partner"];
    var partial = "_BannerEscoaDeVoce";
    if(!string.IsNullOrEmpty(partner)){
        partial = "_BannerBrilhante";
    }
} 

@section modalContent {
    @Html.Partial("_SignupForm")
    @Html.Partial("_LoginForm")
}

@if(!User.Identity.IsAuthenticated){
    
    @Html.Partial(partial);

    <section id="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_NavLogged")
                </div>
            </div>
        </div>
    </section>
}else{
    @await Component.InvokeAsync("Header");
}

<section id="papo-de-escolete">

    <div class="container">
    <h2 class="sub-title">Quem Somos</h2>
        <div class="papo quem-somos">
            <p>
            Escola Brilhante é uma iniciativa de apoio ao empreendedorismo feminino. É um projeto de educação que nasce da parceria entre a marca de sabão em pó Brilhante, a Escola de Você e a Aliança Empreendedora. A marca Brilhante tem o estímulo ao empreendedorismo como missão social e por isso apoia o desenvolvimento de conteúdo capaz de fazer a diferença e ajudar mulheres a transformarem sonhos em negócios.
            A Escola de Você, plataforma de cursos online para mulheres, desenvolveu uma metodologia própria que transforma conceitos complexos em vídeos divertidos, recheados de dicas fáceis de aplicar no dia a dia. A Aliança Empreendedora, ONG especializada na formação de empreendedores, é parceira no desenvolvimento do conteúdo e responsável pela fase final do projeto que seleciona alunas para receber investimento e formações presencial.
            </p>
        </div>
    </div>
</section>
