@{
    ViewData["Title"] = "Cursos";
}

@await Component.InvokeAsync("Header")

@await Component.InvokeAsync("Courses", new {windowName = "Cursos do meu <span class=\"icon icons-heart-gray-little\"></span>"})

@await Component.InvokeAsync("Courses", new {windowName = "Cursos em destaque"})