.escola-btn {
    color: white;
    border: 1px solid white;
}

.escola-btn.escola-btn-primary {
    background: #265EBE;
    border: none;
    color: #ffffff;
}

body .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a {
    color: white;
}

body #bannerSection h1,
body #bannerSection p {
    color: white;
}