.icons-sprite, .icons-back-arrow, .icons-camera-white, .icons-check-active, .icons-check-unactive, .icons-cincomin, .icons-done, .icons-download-button, .icons-empoderamento, .icons-facebook-azul, .icons-facebook, .icons-gratis, .icons-heart-favorite, .icons-heart-filled-course, .icons-heart-gray-little, .icons-heart-gray, .icons-heart-pink, .icons-heart-white-course, .icons-heart-white, .icons-instagram-azul, .icons-instagram, .icons-little-facebook, .icons-little-share, .icons-little-star, .icons-lock-open, .icons-lock, .icons-logout-black, .icons-logout-white, .icons-logout, .icons-mail, .icons-message-black, .icons-message-white, .icons-message, .icons-next-active, .icons-notification-black, .icons-notification, .icons-online, .icons-previews-unactive, .icons-previous-active, .icons-previous-unactive, .icons-profile, .icons-return, .icons-share, .icons-signup-facebook, .icons-signup-twitter, .icons-small-lock, .icons-star-active, .icons-star-unactive, .icons-trofeu, .icons-twitter-azul, .icons-twitter, .icons-undone, .icons-youtube-azul, .icons-youtube {
  background-image: url('../images/icons-sf8e63eeb71.png');
  background-repeat: no-repeat;
}

.icons-back-arrow {
  background-position: 0 0;
  height: 13px;
  width: 19px;
}

.icons-camera-white {
  background-position: 0 -13px;
  height: 22px;
  width: 27px;
}

.icons-check-active {
  background-position: 0 -35px;
  height: 17px;
  width: 26px;
}

.icons-check-unactive {
  background-position: 0 -52px;
  height: 17px;
  width: 26px;
}

.icons-cincomin {
  background-position: 0 -69px;
  height: 73px;
  width: 75px;
}

.icons-done {
  background-position: 0 -142px;
  height: 46px;
  width: 46px;
}

.icons-download-button {
  background-position: 0 -188px;
  height: 15px;
  width: 72px;
}

.icons-empoderamento {
  background-position: 0 -203px;
  height: 106px;
  width: 106px;
}

.icons-facebook-azul {
  background-position: 0 -309px;
  height: 19px;
  width: 10px;
}

.icons-facebook {
  background-position: 0 -328px;
  height: 53px;
  width: 25px;
}

.icons-gratis {
  background-position: 0 -381px;
  height: 75px;
  width: 75px;
}

.icons-heart-favorite {
  background-position: 0 -456px;
  height: 24px;
  width: 26px;
}

.icons-heart-filled-course {
  background-position: 0 -480px;
  height: 24px;
  width: 26px;
}

.icons-heart-gray-little {
  background-position: 0 -504px;
  height: 22px;
  width: 23px;
}

.icons-heart-gray {
  background-position: 0 -526px;
  height: 43px;
  width: 46px;
}

.icons-heart-pink {
  background-position: 0 -569px;
  height: 46px;
  width: 50px;
}

.icons-heart-white-course {
  background-position: 0 -615px;
  height: 23px;
  width: 24px;
}

.icons-heart-white {
  background-position: 0 -638px;
  height: 43px;
  width: 46px;
}

.icons-instagram-azul {
  background-position: 0 -681px;
  height: 19px;
  width: 19px;
}

.icons-instagram {
  background-position: 0 -700px;
  height: 53px;
  width: 53px;
}

.icons-little-facebook {
  background-position: 0 -753px;
  height: 21px;
  width: 11px;
}

.icons-little-share {
  background-position: 0 -774px;
  height: 20px;
  width: 20px;
}

.icons-little-star {
  background-position: 0 -794px;
  height: 16px;
  width: 16px;
}

.icons-lock-open {
  background-position: 0 -810px;
  height: 48px;
  width: 37px;
}

.icons-lock {
  background-position: 0 -858px;
  height: 46px;
  width: 37px;
}

.icons-logout-black {
  background-position: 0 -904px;
  height: 20px;
  width: 25px;
}

.icons-logout-white {
  background-position: 0 -924px;
  height: 20px;
  width: 25px;
}

.icons-logout {
  background-position: 0 -944px;
  height: 38px;
  width: 48px;
}

.icons-mail {
  background-position: 0 -982px;
  height: 16px;
  width: 22px;
}

.icons-message-black {
  background-position: 0 -998px;
  height: 18px;
  width: 22px;
}

.icons-message-white {
  background-position: 0 -1016px;
  height: 18px;
  width: 22px;
}

.icons-message {
  background-position: 0 -1034px;
  height: 38px;
  width: 46px;
}

.icons-next-active {
  background-position: 0 -1072px;
  height: 49px;
  width: 49px;
}

.icons-notification-black {
  background-position: 0 -1121px;
  height: 20px;
  width: 18px;
}

.icons-notification {
  background-position: 0 -1141px;
  height: 20px;
  width: 18px;
}

.icons-online {
  background-position: 0 -1161px;
  height: 75px;
  width: 75px;
}

.icons-previews-unactive {
  background-position: 0 -1236px;
  height: 49px;
  width: 49px;
}

.icons-previous-active {
  background-position: 0 -1285px;
  height: 49px;
  width: 49px;
}

.icons-previous-unactive {
  background-position: 0 -1334px;
  height: 49px;
  width: 49px;
}

.icons-profile {
  background-position: 0 -1383px;
  height: 53px;
  width: 53px;
}

.icons-return {
  background-position: 0 -1436px;
  height: 27px;
  width: 39px;
}

.icons-share {
  background-position: 0 -1463px;
  height: 38px;
  width: 38px;
}

.icons-signup-facebook {
  background-position: 0 -1501px;
  height: 90px;
  width: 90px;
}

.icons-signup-twitter {
  background-position: 0 -1591px;
  height: 90px;
  width: 90px;
}

.icons-small-lock {
  background-position: 0 -1681px;
  height: 24px;
  width: 20px;
}

.icons-star-active {
  background-position: 0 -1705px;
  height: 33px;
  width: 33px;
}

.icons-star-unactive {
  background-position: 0 -1738px;
  height: 35px;
  width: 35px;
}

.icons-trofeu {
  background-position: 0 -1773px;
  height: 18px;
  width: 19px;
}

.icons-twitter-azul {
  background-position: 0 -1791px;
  height: 19px;
  width: 25px;
}

.icons-twitter {
  background-position: 0 -1810px;
  height: 57px;
  width: 81px;
}

.icons-undone {
  background-position: 0 -1867px;
  height: 46px;
  width: 46px;
}

.icons-youtube-azul {
  background-position: 0 -1913px;
  height: 19px;
  width: 25px;
}

.icons-youtube {
  background-position: 0 -1932px;
  height: 53px;
  width: 71px;
}
